.menu__list li::after {
    display: none;
}

.menu__wrraper {
    margin-left: 4rem;
    width: 100%;
}

.mega-menu-link {
    font-size: 14px !important;
    text-align: center !important;
    text-transform: none !important;
}

.mega-menu-link:hover {
    color: #3366ff !important;
}

.mega-menu-item.mega-menu-item-type-widget.widget_media_image {
    margin-top: 20px !important;
    padding: 2rem !important;
    border-radius: 8px !important;
    background: #ffffff !important;
}

.mega-toggle-animated-inner,
.mega-toggle-animated-inner::after,
.mega-toggle-animated-inner::before {
    background-color: #000 !important;
}

.mega-menu-column {
    margin-left: 2rem !important;
}

/* MENU */


.category-block,
.catalog-block {
    justify-content: normal;
}

.category-block__item {
    display: flex;
    flex-direction: column;
}

.category-block__item-title {
    margin-top: auto;
    text-align: center;
}

.catalog-block__item-img img {
    width: 200px;
    height: 171px;
    object-fit: cover;
}

.quantity {
    display: none;
}

.device-block {
    margin-bottom: 2rem;
}

.header-bottom__search-wrraper {
    width: 100%;
}

.aws-container .aws-search-field {
    border: none !important;
}

.header-bottom {
    height: auto;
}

.device-block__img img {
    margin-left: auto;
    margin-right: auto;
}

.tabs__content a {
    color: #3366ff;
}

.search #ajaxsearchlite1 .probox .proinput input,
div.asl_w .probox .proinput input {
    color: #464753 !important;
}

.search #ajaxsearchlite1 .probox .proinput input,
div.asl_w .probox .proinput input::placeholder {
    color: #464753 !important;
}

.search div.asl_w .probox .proinput input::-webkit-input-placeholder {
    color: #464753 !important;
}

.accreditation-search {
    padding-top: 3rem;
}

.mega-sub-menu .mega-sub-menu .mega-sub-menu .mega-sub-menu {
    display: none !important;
    transition: all .4s ease-in;
}

.mega-sub-menu .mega-menu-item:hover .mega-sub-menu {
    display: block !important;
    /* width: 20px !important; */
    transition: all .4s ease-in;
}

.mega-sub-menu .mega-menu-item li {
    width: 250px !important;
    text-align: left !important;
}

.mega-sub-menu .mega-menu-item li a {
    text-align: left !important;
}

.tests-block__img img {
    border-radius: 8px;
}


.device__price {
    font-size: 3.5rem;
}



.accreditation .dataTables_filter {
    width: 100%;
    margin-bottom: 15px;
}

.accreditation .dataTables_filter label input {
    width: 95% !important;
    border: 1px solid rgb(51, 102, 255) !important;
    border-radius: 8px;
}

.row-hover tr td {
    min-width: 80px !important;
}



.accreditation__inner-table .dataTables_scrollHeadInner {
    /* width: 100% !important; */
    /* overflow: auto; */
}


.alignnone.size-medium {
    width: 20px;
}

.tabs__content h2 {
    margin-bottom: 2rem;
}

.tabs__content div,
.tabs__content p {
    margin-bottom: 1.5rem;
}

.accreditation__inner-scroll {
    overflow: auto;
}

.device__price {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.catalog-block__item-price {
    display: flex;
    gap: .3rem;
}

.device__price-show {
    font-size: 3.5rem;
}

.tabs__content div h3,
.tabs__content div h2 {
    padding: 1rem 0;
}

.accreditation__inner-scroll-title {
    font-size: 30px;
    font-weight: 600;
}

.modernization__redaktor {
    width: 30%;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modernization__redaktor li {
    list-style: disc;
    width: calc(100% / 3 - 2rem);
    color: #3366ff;
    font-size: 18px;
}

.aws-container .aws-search-form.aws-show-clear.aws-form-active .aws-search-clear {
    display: none !important;
}

.documentation-block__item:hover {
    transform: scale(1.1);
}

.documentation-block__left {
    gap: 3rem;
}

.logo {
    width: 120px;
}

.accreditation__inner td code {
    display: block;
    text-align: center;
}

.page-numbers {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.page-numbers li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 14px;
    font-weight: 600;
}

.page-numbers.current {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    background: #fff;
    color: #3366ff;
}





/* MOBILE */

@media(max-width: 1100px) {
    .modernization__redaktor {
        width: 100%;
    }
}

@media(max-width: 968px) {
    .header-bottom__inner {
        position: relative;
    }

    .menu__wrraper {
        position: absolute;
        right: 0;
    }

    .header-bottom__box {
        margin-right: 7rem;
    }

    .mobile-content {
        margin-right: 7rem;
    }

    .logo,
    .header-bottom__box,
    .mobile-content {
        position: relative;
        z-index: 3;
    }

    .mega-menu-column {
        margin-left: 0 !important;
    }

    .device-block__img,
    .device-block__img img {
        width: 81%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 650px) {
    .accreditation .dataTables_filter label input {
        width: 70% !important;
    }
}


@media(max-width: 550px) {

    .device-block__img,
    .device-block__img img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .mega-menu.max-mega-menu.mega-menu-horizontal {
        padding-bottom: 250px !important;
    }

    .breadcrumbs span {
        font-size: 14px;
    }

    .device {
        padding-top: 1.5rem;
    }

    .pagination {
        justify-content: center;
    }

    .device__price {
        font-size: 24px;
    }

    tr th,
    tr td {
        font-size: 15px;
        line-height: 19px;
    }

    /* .accreditation__inner-table .dataTables_scrollHeadInner {
        width: unset !important;
    } */
    .tabs__item {
        gap: 1rem;
    }

    .product__title {
        font-size: 24px;
        line-height: 30px;
    }

    .catalog-block__item-img {
        margin-left: auto;
        margin-right: auto;
    }

    .catalog-block__item-img img {
        width: 150px;
    }

    .catalog-block__item {
        flex-direction: column;
        gap: 0;
    }

    .tabs__content div h3,
    .tabs__content div h2 {
        margin-bottom: 1rem;
        padding: .5rem;
        font-size: 20px;
    }

    .device__price-show {
        font-size: 24px;
    }

    .device-block__img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accreditation__inner-scroll-title {
        font-size: 20px;
    }

    .tabs__item-btn,
    .modernization-tabs__item-btn {
        min-width: 180px;
        font-size: 14px;
    }

    .tabs-active {
        border-bottom: 3px solid #3366ff;
    }

    .mega-menu-link {
        font-size: 18px !important;
    }

    .mega-sub-menu .mega-sub-menu .mega-sub-menu .mega-sub-menu {
        display: none !important;
        transition: all .4s ease-in;
    }
}